<%= form_for([@project, @target_host]) do |f| %>

    <div class="form-group">
      <%= f.label :role_name %>
      <%= f.text_field :role_name, class: 'form-control', placeholder: 'eg. Application Server, Database...' %>
      <%= errors_if_present(@target_host, :role_name) %>
    </div>
    <div class="form-group">
      <%= f.label :host_name %>
      <%= f.text_field :host_name, class: 'form-control', placeholder: 'Host name or IP address' %>
      <%= errors_if_present(@target_host, :host_name) %>
    </div>
    <div class="form-group">
      <%= f.label :executable_path %>
      <%= f.text_field :executable_path, class: 'form-control', placeholder:'Full path to nmon on target host' %>
      <%= errors_if_present(@target_host, :executable_path) %>
    </div>

    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name,class: 'form-control', placeholder:'User for SSH to the target host' %>
      <%= errors_if_present(@target_host, :user_name) %>
    </div>

    <div class="form-group">
      <%= f.label :sampling_interval %>
      <%= f.text_field :sampling_interval, class: 'form-control', placeholder: 'eg. 10 (seconds)' %>
      <%= errors_if_present(@target_host, :sampling_interval) %>
    </div>

    <div class="form-group">
      <%= f.label :ssh_identity %>
      <%= f.file_field :ssh_identity %>
      <%= errors_if_present(@target_host, :ssh_identity) %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6"><%= f.submit 'Save', {class: 'btn btn-primary'} %></div>
        <div class="col-md-6"><%= link_to 'Cancel', project_target_hosts_path(page: params[:page]), class: 'btn btn-default pull-right' %></div>
      </div>
    </div>

<% end %>