<%= content_for :project_header do %>
    <% unless @project.nil? %>
        <%= link_to @project.title, project_path(@project) %>
    <% end %>
<% end %>
<h2 class="page-header">
  <div class="row">
    <div class="col-md-9">Target Hosts</div>
    <div class="col-md-3">
      <%= link_to new_project_target_host_path, class: 'btn btn-primary pull-right' do %>
          <span class="glyphicon glyphicon-plus"></span> Add
      <% end %>
    </div>
  </div>
</h2>

<%- grouped_by_role(@target_hosts).each do
# @type role_name [String]
# @type target_host [Array]
|role_name, target_hosts| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= role_name %></h3>
  </div>
  <table class="table">
    <tr>
      <th width="30%">Host</th>
      <th width="20%">Executable Path</th>
      <th width="10%">User Name</th>
      <th width="10%">Sampling Interval</th>
      <th width="20%">SSH Identity File</th>
      <th width="10%">Actions</th>
    </tr>
    <%- target_hosts.each do
    # @type target_host [TargetHost]
    |target_host| %>
    <tr>
      <td><%= link_to target_host.host_name, edit_project_target_host_path(@project, target_host) %></td>
      <td><%= target_host.executable_path %></td>
      <td><%= target_host.user_name %></td>
      <td><%= target_host.sampling_interval %></td>
      <td><%= link_to(target_host.ssh_identity_file_name, project_target_host_path(@project, target_host, format: :pem)) %></td>
      <td>
        <%= link_to edit_project_target_host_path(@project, target_host), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to project_target_host_path(@project, target_host), method: :delete, class: "btn text-danger#{target_host.can_delete? ? '' : ' disabled'}", data: {confirm: 'This host will not be monitored if you remove it from configuration. Proceed to remove host?'} do %>
            <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
    </tr>
    <%- end %>
  </table>
</div>
<%- end %>

<p>
  <%= link_to project_path(@project), class: 'btn btn-default' do %>
      Back to project
  <% end %>
</p>
