<%= content_for :project_header do %>
    <% unless @project.nil? %>
        <%= link_to @project.title, project_path(@project) %>
    <% end %>
<% end %>
<h2 class="page-header">
  <div class="row">
    <div class="col-md-6">Clusters</div>
    <div class="col-md-6">
      <span class="pull-right"><%= link_to new_project_cluster_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        <% end %></span>
    </div>
  </div>
</h2>

<% if @clusters.blank? %>
    <ul class="nav nav-tabs">
      <% if params[:type].blank?
            navType = "DataCenter"
        else
            navType = params[:type]
       end %>

      <% Cluster.types.each do |cluster_type_name| %>
          <li <%  if navType == cluster_type_name %> class="active" <% end %>>
            <%= link_to cluster_type_name.underscore.humanize, {:type => cluster_type_name} %>
          </li>
      <% end %>
    </ul>
    <div role="alert" class="alert alert-warning">
      <span aria-hidden="true" class="glyphicon glyphicon-warning-sign"></span>
      No cluster<% if params[:type] == "AmazonCloud" %> of type 'Amazon cloud'<% elsif params[:type] == "DataCenter" %> of type 'Data center'<% end %> added yet for this project.
    </div>
<% else %>
    <p class="lead">
    <div class="table-responsive">
      <ul class="nav nav-tabs">
        <% if params[:type].blank?
             navType = "DataCenter"
           else
             navType = params[:type]
           end %>

        <% Cluster.types.each do |cluster_type_name| %>
            <li <%  if navType == cluster_type_name %> class="active" <% end %>>
              <%= link_to cluster_type_name.underscore.humanize, {:type => cluster_type_name} %>
            </li>
        <% end %>
      </ul>
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>SSH identity</th>
          <% if navType == "AmazonCloud" %>
              <th>Access key</th>
              <th>Secret key</th>
              <th>Region</th>
              <th>Instance type</th>
          <% elsif navType == "DataCenter" %>
              <th>Title</th>
              <th>User name</th>
              <th>Machines</th>
          <% end %>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <% @clusters.each.with_index(1) do |cluster, index| %>
            <tr>
              <td><%= cluster.ssh_identity_file_name.blank? ? "" : link_to(cluster.ssh_identity_file_name, project_cluster_path(@project,cluster, format: :pem)) %></td>
              <% if navType == "AmazonCloud" %>
                  <td><%= cluster.access_key %></td>
                  <td><%= cluster.secret_key %></td>
                  <td><%= cluster.region %></td>
                  <td><%= cluster.instance_type %></td>
              <% else %>
                  <td><%= cluster.title %></td>
                  <td><%= cluster.user_name %></td>
                  <%
                     if !cluster.machines.blank?
                        machines = JSON.parse(cluster.machines)
                     end
                  %>
                  <td><% if(machines.kind_of?(Array))  %> <%= machines.join(", ") %> <% end %></td>
              <% end %>
              <td>
                <% if(cluster.type == "AmazonCloud") %>
                    <%= link_to 'Edit', params[:page].blank? ? edit_project_amazon_cloud_path(@project,cluster):edit_project_amazon_cloud_path(@project,cluster,:page=>params[:page]) %>
                <% elsif(cluster.type == "DataCenter") %>
                    <%= link_to 'Edit', params[:page].blank? ? edit_project_data_center_path(@project,cluster):edit_project_data_center_path(@project,cluster,:page=>params[:page]) %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= will_paginate @clusters, renderer: BootstrapPagination::Rails %>
      </div>

    </div>
    </p>
<% end %>


<p><%= link_to "Back to Project", project_path(@project) %></p>