<div class="row-fluid">
  <div class="page-header">
    <div class="container">
      <div class="col-md-10">
        <h1>Clusters</h1>
      </div>
      <div class="col-md-2" align="right">
        <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add'.html_safe, new_project_cluster_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</div>

<% if @clusters.blank? %>
    <ul class="nav nav-tabs">
      <li <% if params[:type].blank? or params[:type] == "amazon_cloud" %> class="active" <% end %>>
        <%= link_to 'Amazon cloud', {:type => "amazon_cloud"} %>
      </li>
      <li <% if params[:type] == "data_center" %> class="active" <% end %>>
        <%= link_to 'Data center', {:type => "data_center"} %>
      </li>
    </ul>
    <div role="alert" class="alert alert-warning">
      <span aria-hidden="true" class="glyphicon glyphicon-warning-sign"></span>
      No cluster<% if params[:type] == "amazon_cloud" %> of type 'Amazon cloud'<% elsif params[:type] == "data_center" %> of type 'Data center'<% end %> added yet for this project.
    </div>
<% else %>
    <p class="lead">
    <div class="table-responsive">
      <ul class="nav nav-tabs">
        <li <% if params[:type].blank? or params[:type] == "amazon_cloud" %> class="active" <% end %>>
          <%= link_to 'Amazon cloud', {:type => "amazon_cloud"} %>
        </li>
        <li <% if params[:type] == "data_center" %> class="active" <% end %>>
          <%= link_to 'Data center', {:type => "data_center"} %>
        </li>
      </ul>
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>S.No.</th>
          <th>SSH identity</th>
          <% if params[:type].blank? or params[:type] == "amazon_cloud" %>
              <th>Access key</th>
              <th>Secret key</th>
              <th>Region</th>
              <th>Instance type</th>
          <% elsif params[:type] == "data_center" %>
              <th>User name</th>
              <th>Machines</th>
          <% end %>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <% @clusters.each.with_index(1) do |cluster, index| %>
            <tr>
              <td><%= ((@current_page.to_i-1)*@items_per_page.to_i)+index %></td>
              <td><%= cluster.ssh_identity_file_name.blank? ? "" : link_to(cluster.ssh_identity_file_name, project_cluster_path(@project,cluster, format: :pem)) %></td>
              <% if params[:type].blank? or params[:type] == "amazon_cloud" %>
                  <td><%= cluster.access_key %></td>
                  <td><%= cluster.secret_key %></td>
                  <td><%= cluster.region %></td>
                  <td><%= cluster.instance_type %></td>
              <% else %>
                  <td><%= cluster.user_name %></td>
                  <%
                     if !cluster.machines.blank?
                        machines = JSON.parse(cluster.machines)
                     end
                  %>
                  <td><% if(machines.kind_of?(Array))  %> <%= machines.join(", ") %> <% end %></td>
              <% end %>
              <td>
                <%= link_to 'Show', params[:page].blank? ? project_cluster_path(@project,cluster):project_cluster_path(@project,cluster,:page=>params[:page]) %><br/>
                <%= link_to 'Edit', params[:page].blank? ? edit_project_cluster_path(@project,cluster):edit_project_cluster_path(@project,cluster,:page=>params[:page]) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= will_paginate @clusters, renderer: BootstrapPagination::Rails %>
      </div>

    </div>
    </p>
<% end %>


<p><%= link_to "Back to Project", project_path(@project) %></p>