<%= form_for([@project,@target_host],multipart: true) do |f| %>

    <div class="form-group">
      <div><%= f.label :executable_path %></div>
      <div><%= f.text_field :executable_path,class:"form-control",placeholder:"Enter executable path" %></div>
    </div>
    <% if @target_host.errors[:executable_path].present? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= @target_host.errors.full_message(:executable_path, @target_host.errors[:executable_path].first) %>
        </div>
    <% end %>

    <div class="form-group">
      <div><%= f.label :ssh_identity %></div>
      <div>
        <%= f.file_field :ssh_identity %>
      </div>
    </div>
    <% if @target_host.errors[:ssh_identity_file_name].present? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= @target_host.errors.full_message(:ssh_identity_file_name, @target_host.errors[:ssh_identity_file_name].first) %>
        </div>
    <% end %>

    <div class="form-group">
      <div><%= f.label :user_name %></div>
      <div><%= f.text_field :user_name,class:"form-control",placeholder:"Enter user name" %></div>
    </div>
    <% if @target_host.errors[:user_name].present? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= @target_host.errors.full_message(:user_name, @target_host.errors[:user_name].first) %>
        </div>
    <% end %>

    <div class="form-group">
      <div><%= f.label :sampling_interval %></div>
      <div><%= f.text_field :sampling_interval,class:"form-control",placeholder:"Enter sampling interval" %></div>
    </div>
    <% if @target_host.errors[:sampling_interval].present? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= @target_host.errors.full_message(:sampling_interval, @target_host.errors[:sampling_interval].first) %>
        </div>
    <% end %>

    <div class="form-group-sm page-header">
      <label for="target_host_roles">Roles</label>
      <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>'.html_safe, "javascript:void(0);", :class => "btn btn-info btn-xs", :onclick => "add_role_host_fields();" %>
    </div>

    <div class="form-group" id="role_host_group_placeholder">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-11"><%= f.label :role_name %></div>
          <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-11">
            <input type="text" name="target_host[role_name][1]" class="form-control" placeholder="Enter role name">
          </div>
          <div class="col-md-1">&nbsp;</div>
        </div>
      </div>

      <div class="row" id="host_name_placeholder1">
        <div class="col-md-12">
          <div class="col-md-11"><%= f.label :host_name %></div>
          <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-11">
            <input type="text" name="target_host[host_name][1][]" class="form-control" placeholder="Enter host name">
          </div>
          <div class="col-md-1">
            <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>'.html_safe, "javascript:void(0);", :class => "btn btn-info btn-xs", :onclick => "add_host_fields(1);" %>
          </div>
        </div>
      </div>
    </div>


    <input type="hidden" id="role_count" value="1" />
    <%= f.submit "Save",{class:"btn btn-primary"} %>
    <%= link_to "Cancel", params[:page].blank? ? project_target_hosts_path : project_target_hosts_path(:page=>params[:page]), :class => "btn btn-default" %>

<% end %>