<%= form_for([@project,@target_host],multipart: true) do |f| %>

    <div class="form-group">
      <%= f.label :executable_path %>
      <%= f.text_field :executable_path,class:"form-control",placeholder:'Full path to nmon on target hosts',:value=>@target_host_data[:executable_path] %>
      <% if @target_host.errors[:executable_path].present? %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= @target_host.errors.full_message(:executable_path, @target_host.errors[:executable_path].first) %>
      </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :ssh_identity %>
      <%= f.file_field :ssh_identity %>
      <% if @target_host.errors[:ssh_identity_file_name].present? %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= @target_host.errors.full_message(:ssh_identity_file_name, @target_host.errors[:ssh_identity_file_name].first) %>
      </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name,class:"form-control",placeholder:'User for SSH to any target host',:value=>@target_host_data[:user_name] %>
      <% if @target_host.errors[:user_name].present? %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= @target_host.errors.full_message(:user_name, @target_host.errors[:user_name].first) %>
      </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :sampling_interval %>
      <div class="input-group">
        <%= f.text_field :sampling_interval,class:"form-control",:value=>@target_host_data[:sampling_interval] %>
        <span class="input-group-addon">seconds</span>
      </div>
      <% if @target_host.errors[:sampling_interval].present? %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= @target_host.errors.full_message(:sampling_interval, @target_host.errors[:sampling_interval].first) %>
      </div>
      <% end %>
    </div>

    <div class="form-group-sm page-header">
      <label for="target_host_roles">Roles</label>
      <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>'.html_safe, "javascript:void(0);", :class => "btn btn-info btn-xs", :onclick => "add_role_host_fields();" %>
    </div>
    <% if @target_host.errors[:role_name].present? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= @target_host.errors[:role_name].first %>
        </div>
    <% elsif @target_host.errors[:host_name].present? %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= @target_host.errors[:host_name].first %>
        </div>
    <% end %>

    <div class="form-group" id="role_host_group_placeholder">
      <% @target_host_data[:roles].each.with_index(1) do |roles,role_index| %>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-11"><%= f.label :role_name %></div>
          <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-11">
            <input type="text" name="target_host[role_name][<%= role_index %>]" class="form-control" placeholder="Enter role name" value="<%= roles[:name] %>">
          </div>
          <div class="col-md-1">&nbsp;</div>
        </div>
      </div>

      <div class="row" id="host_name_placeholder<%= role_index %>">
        <% roles[:hosts].each.with_index(1) do |host,host_index| %>
            <div class="col-md-offset-1 col-md-12">
              <%= f.label :host_name %>
            </div>
            <div class="col-md-offset-1 col-md-9">
              <input type="text" name="target_host[host_name][<%= role_index %>][]" class="form-control" placeholder="Enter host name" value="<%= host[:host_name] %>">
            </div>
            <% if host_index==1 %>
              <div class="col-md-2">
                <a onclick="add_host_fields(<%= role_index %>);" href="javascript:void(0);" class="btn btn-info btn-xs">
                  <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                </a>
              </div>
            <% end %>
        <% end %>
      </div>
      <% end %>
    </div>


    <input type="hidden" id="role_count" value="<%= @target_host_data[:roles].blank? ? 1 : @target_host_data[:roles].count %>" />
    <div class="form-group">
      <div class="row">
        <div class="col-md-6"><%= f.submit "Save",{class:"btn btn-primary"} %></div>
        <div class="col-md-6"><%= link_to "Cancel", project_target_hosts_path(page: params[:page]), class: "btn btn-default pull-right" %></div>
      </div>
    </div>
<% end %>