<p>
<%= form_for(@project) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title : " %>
    <%= f.text_field :title,class:"form-control",placeholder:"Enter title" %>
  </div>
  <% if @project.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @project.errors.full_messages.each do |message| %>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= message %>
      <% end %>
    </div>
  <% end %>

    <%= f.submit "Save",{class:"btn btn-primary"} %>
    <%= link_to "Cancel", projects_path, :class => "btn btn-default" %>
<% end %>
</p>