<div class="row-fluid">
  <div class="page-header">
    <div class="container">
      <div class="col-md-10">
        <h1>Projects</h1>
      </div>
      <div class="col-md-2" align="right">
        <%= link_to 'New Project', new_project_path, class:"btn btn-info" %>
      </div>
    </div>
  </div>
</div>



<p class="lead">
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>S.No.</th>
      <th>Name</th>
      <th>Status</th>
      <th>Created</th>
      <th>Last updated</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each.with_index(1) do |project, index| %>
        <tr>
          <td><%= ((@current_page.to_i-1)*@items_per_page.to_i)+index %></td>
          <td><%= project.title %></td>
          <td><%= project.status ? "Configured" : "Empty" %></td>
          <td><%= project.created_at.strftime('%F') %></td>
          <td><%= project.updated_at.strftime('%F') %></td>
          <td>
            <%= link_to 'Open', project %>
            <%#= link_to 'Edit', edit_project_path(project), class:"btn btn-warning" %>
            <%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
  </div>
</div>
</p>

