<div class="row-fluid">
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <%= link_to new_project_path, class: 'btn btn-info' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        <% end %>
      </div>
    </div>
    <h2>Projects</h2>
  </div>
</div>

<% if @projects.blank? %>
    <div role="alert" class="alert alert-warning">
      <span aria-hidden="true" class="glyphicon glyphicon-warning-sign"></span>
      No project added yet.
    </div>
<% else %>
    <p class="lead">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Created</th>
          <th>Last updated</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @projects.each.with_index(1) do |project, index| %>
            <tr>
              <td><%= project.title %></td>
              <td><%= project_status(project) %></td>
              <td><%= project.created_at.strftime('%F') %></td>
              <td><%= project.updated_at.strftime('%F') %></td>
              <td>
                <%= link_to 'Edit', project_path(project,:page=>params[:page]) %>
                <%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
    </p>
<% end %>

