<p>
<%#= link_to 'Edit', edit_project_path(@project) %>
<%#= link_to 'Back', projects_path %>
<div class="row">
  <div class="col-md-5">
    <p class="h3">
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <p class="h3">
      <strong>Status:</strong>
      <%= project_status(@project.status) %>
    </p>
    <% if(project_status(@project.status) == "Configured" ) %>
        <div>
          <%= link_to "setup", project_interpret_task_path(@project,:process => "setup"), class: "btn btn-primary" %><br/>
        </div>
    <% end %>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Configuration</h3>
      </div>
      <div class="panel-body">
        <p>
          <%= link_to "Test Plans", project_test_plans_path(@project) %> (<%= @project.test_plans.count %>)<br/>
          <%= link_to "Clusters", project_clusters_path(@project) %> (<%= @project.clusters.count %>)<br/>
          <%= link_to "Target Hosts", project_target_hosts_path(@project) %> (<%= @project.target_hosts.count %>)<br/>
        </p>
      </div>
    </div>


  </div>
  <p><%= link_to "Back to Projects", params[:page].blank? ? projects_path():projects_path(:page=>params[:page]) %></p>
</div>
</p>
