<% last_result_id = "" %>
<div class="page-header">
  <div class="row">
    <div class="col-md-5 pull-right">
      <h2 class="text-right">
      <span id="project_status">
        <%= project_status(@project.status) %>
      </span>&nbsp;
        <span id="project_download_status"></span>
      </h2>
    </div>
    <div class="col-md-5">
      <h2><%= @project.title %></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Configuration</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= link_to "Test Plans", project_test_plans_path(@project) %> (<%= @project.test_plans.count %>)<br/>
            <%= link_to "Clusters", project_clusters_path(@project) %> (<%= @project.clusters.count %>)<br/>
            <%= link_to "Target Hosts", project_target_hosts_path(@project) %> (<%= @project.target_hosts.count %>)<br/>
          </div>

          <div class="col-md-6">
            <div>
              <%= link_to '<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Setup'.html_safe, project_interpret_task_path(@project,:process => "setup"), id: "project_setup", class: ["btn","btn-primary", "worker_task", ("disabled" if(project_status(@project.status) != 'Configured'))] %><br/>
            </div>
            <hr>
            <div>
              <%= link_to '<span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start'.html_safe, project_interpret_task_path(@project,:process => "start"), id: "project_start", class: ["btn", "btn-success", "worker_task", ("disabled" if(!(project_status(@project.status) == 'Ready to start' || project_status(@project.status) == 'Stopped' || project_status(@project.status) == 'Aborted')))] %>&nbsp;
              <%= link_to '<span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Abort'.html_safe, project_interpret_task_path(@project,:process => "abort"), id: "project_abort", class: ["btn", "btn-warning", "worker_task", ("disabled" if(project_status(@project.status) != 'Started'))] %>&nbsp;
            </div>
            <hr>
            <div>
              <%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Terminate'.html_safe, project_interpret_task_path(@project,:process => "terminate"), id: "project_terminate", class: ["btn", "btn-danger", "worker_task", ("disabled" if(@project.status < 4))] %><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left"><input type="checkbox" id="checkUncheckAll"> Tests Results</h3>

        <div class="pull-right">
          <%= link_to '<span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download Results'.html_safe, project_interpret_task_path(@project, :process => "download"), class: "btn btn-primary btn-sm", id: "download-reports" %>
          <%= link_to '<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Export Results'.html_safe, project_interpret_task_path(@project, :process => "export"), class: "btn btn-primary btn-sm", id: "export-reports" %>
        </div>
      </div>

      <div class="panel-body"  id="project_results_div">
        <% if !@load_tests.blank? %>
            <% @load_tests.each.with_index(1) do |load_test, index| %>
                <% last_result_id = load_test.id %>
                <div class="row">
                  <div class="col-md-1">
                    <input type="checkbox" class="testsCheck" name="load_test[]" value="<%= load_test.execution_cycle_id %>">
                  </div>
                  <div class="col-md-11">
                    <div class="row">
                      <div class="col-md-7">
                        <%= load_test.total_threads_count %> Threads
                      </div>
                      <div class="col-md-5">
                        <div class="row">
                          <div class="col-md-5">
                            <%= load_test.started_at.strftime("%b %e ") %><br/><%= load_test.started_at.strftime("%k:%M") %>
                          </div>
                          <div class="col-md-2">
                            -
                          </div>
                          <div class="col-md-5">
                            <%= load_test.stopped_at.strftime("%b %e ") %><br/><%= load_test.stopped_at.strftime("%k:%M") %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-7">
                        <%= load_test.avg_90_percentile %> ms Response Time
                      </div>
                      <div class="col-md-5">
                        <%= load_test.avg_tps %> TPS
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
            <% end %>
        <% end %>


      </div>


    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Project Logs</h3>
    </div>

    <div class="panel-body logs-console">
      <div class="row">
        <div class="col-md-12" id="logsResults">
          <%= simple_format(@logs) %>
        </div>
      </div>
    </div>
  </div>
</div>


<p><%= link_to "Back to Projects", params[:page].blank? ? projects_path():projects_path(:page=>params[:page]) %></p>
<span id="update_results_data_uri" class="hide"><%= project_update_loadtest_results_path(@project) %></span>
<span id="last_result_id" class="hide"><%= last_result_id %></span>
<span id="download_result_uri" class="hide"><%= project_download_results_path(@project) %></span>
<span id="download_request_id" class="hide"></span>

<script type="text/javascript">
    refreshLogs('<%= project_read_logs_path(@project) %>');
    updateProject('<%= project_check_project_status_path(@project) %>', '<%= @project.status %>');
    checkDownloadStatus('<%= project_check_download_status_path(@project) %>');
</script>