<p>
<%#= link_to 'Edit', edit_project_path(@project) %>
<%#= link_to 'Back', projects_path %>
<%#= debug params %>
<div class="row">
  <div class="col-md-5">
    <p class="h3">
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <p class="h3">
      <strong>Status:</strong>
      <%= project_status(@project.status) %>
    </p>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Configuration</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
              <%= link_to "Test Plans", project_test_plans_path(@project) %> (<%= @project.test_plans.count %>)<br/>
              <%= link_to "Clusters", project_clusters_path(@project) %> (<%= @project.clusters.count %>)<br/>
              <%= link_to "Target Hosts", project_target_hosts_path(@project) %> (<%= @project.target_hosts.count %>)<br/>
          </div>

          <div class="col-md-6">
            <div>
              <%= link_to "setup", project_interpret_task_path(@project,:process => "setup"), class: ["btn","btn-primary", ("disabled" if(project_status(@project.status) != 'Configured' || params[:submit_action] == 'setup'))] %><br/>
            </div>
            <hr>
            <div>
              <%= link_to "Start", project_interpret_task_path(@project,:process => "started"), class: ["btn", "btn-success", ("disabled" if(project_status(@project.status) != 'Tests Set-up'))] %>&nbsp;
              <%= link_to "Stop", project_interpret_task_path(@project,:process => "stopped"), class: ["btn", "btn-warning", ("disabled" if(project_status(@project.status) != 'Tests Started'))] %>&nbsp;
              <%= link_to "Abort", project_interpret_task_path(@project,:process => "aborted"), class: ["btn", "btn-warning", ("disabled" if(project_status(@project.status) != 'Tests Started'))] %>&nbsp;
            </div>
            <hr>
            <div>
              <%= link_to "Terminate", project_interpret_task_path(@project,:process => "terminated"), class: ["btn", "btn-danger", ("disabled" if(@project.status < 3 ))] %><br/>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <p><%= link_to "Back to Projects", params[:page].blank? ? projects_path():projects_path(:page=>params[:page]) %></p>
</div>
</p>
