<%#= link_to 'Edit', edit_project_path(@project) %>
<%#= link_to 'Back', projects_path %>
<div class="row">
  <div class="col-md-5">
    <p>
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @project.status ? "Configured" : "Empty" %>
    </p>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Configuration</h3>
      </div>
      <div class="panel-body">
        <p>
          <%= link_to "Test Plans", "javascript:void(0);" %><br/>
          <%= link_to "Clusters", project_clusters_path(@project) %><br/>
          <%= link_to "Target Hosts", "javascript:void(0);" %><br/>
        </p>
      </div>
    </div>


  </div>
  <p><%= link_to "Back to Projects", params[:page].blank? ? projects_path():projects_path(:page=>params[:page]) %></p>
</div>