<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <strong>Sku:</strong>
    <%= @product.sku %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-link' %> |
  <%= link_to 'Back', products_path, class: 'btn btn-link' %>

</div>
