<%= form_for ([@project,@test_plan]) do |f| %>
  <% if @test_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_plan.errors.count, "error") %> prohibited this test_plan from being saved:</h2>

      <ul>
      <% @test_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row-fluid">
        <div class="container">
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-hover table-bordered" width="50%">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                </tr>
                </thead>

                <tbody id="test_plan_properties_body">
                <% if !@test_plan_properties.empty? %>
                    <% @test_plan_properties.each do |property| %>
                        <tr>
                          <td>
                            <input type="text" value="<%= property["name"] %>" name="test_plan[property_name][]">
                          </td>
                          <td>
                            <input type="text" value="<%= property["value"] %>" name="test_plan[property_value][]">
                          </td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                      <td>
                        <input type="text" name="test_plan[property_name][]">
                      </td>
                      <td>
                        <input type="text" name="test_plan[property_value][]">
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>

            </div>
          </div>
          <div align="left" class="col-md-6">
            <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add'.html_safe, "javascript:void(0);", :class => "btn btn-info", :onclick => "add_property_fields();" %>
          </div>
        </div>
    </div>

    <p>
        <%= f.submit "Save", :class => "btn btn-primary" %>
        <%= link_to "Cancel", params[:page].blank? ? project_test_plans_path : project_test_plans_path(:page=>params[:page]), :class => "btn btn-default" %>
    </p>

<% end %>
