<%= content_for :project_header do %>
    <% unless @project.nil? %>
        <%= link_to @project.title, project_path(@project) %>
    <% end %>
<% end %>
<h2 class="page-header">
  <div class="row">
    <div class="col-md-6">Test Plans &amp; Data Files</div>
    <div class="col-md-6">
      <span class="pull-right"><%= link_to new_project_test_plan_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        <% end %></span>
    </div>
  </div>
</h2>

<% if @test_plans.blank? %>

    <div role="alert" class="alert alert-warning">
      <span aria-hidden="true" class="glyphicon glyphicon-warning-sign"></span>
      No test plans added yet for this project.
    </div>

<% else %>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
              <tr>
                <th>File Name</th>
                <th>Action</th>
              </tr>
          </thead>

          <tbody>
          <% @test_plans.each do |test_plan| %>
              <tr>
                <td><%= link_to test_plan.jmx_file_name, project_test_plan_path(test_plan.project_id, test_plan, format: :xml) %></td>
                <% if test_plan.test_plan? %>
                <td><%= link_to 'Set Properties', params[:page].blank? ? edit_project_test_plan_path(test_plan.project_id, test_plan):edit_project_test_plan_path(test_plan.project_id, test_plan,:page=>params[:page]), class: "btn btn-warning" %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="text-center">
          <%= will_paginate @test_plans, renderer: BootstrapPagination::Rails %>
        </div>
    </div>
<% end %>

<p><%= link_to "Back to project", project_path(@project) %></p>



