<div class="row-fluid">
    <div class="page-header">
      <div class="container">
        <div class="col-md-10">
          <h3>Test plans</h3>
        </div>
        <div align="right" class="col-md-2">
          <%= link_to 'New Test plan', new_project_test_plan_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
          <tr>
            <th>Project</th>
            <th>JMX File Name</th>
            <th>Action</th>
          </tr>
      </thead>

      <tbody>
      <% @test_plans.each do |test_plan| %>
          <tr>
            <td><%= test_plan.project_id %></td>
            <td><%= link_to test_plan.jmx_file_name, action: "downloadJmx", id: test_plan.id %></td>
            <td><%= link_to 'Set Property', edit_project_test_plan_path(test_plan.project_id, test_plan), class: "btn btn-warning" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @test_plans, renderer: BootstrapPagination::Rails %>
    </div>
</div>

<td><%= link_to "Back to project", project_path(@project) %></td>


