<div class="row-fluid">
    <div class="page-header">
      <div class="container">
        <div class="col-md-10">
          <h3>Test plans</h3>
        </div>
        <div align="right" class="col-md-2">
          <!--<%= link_to 'New Test plan', new_project_test_plan_path, class: "btn btn-info" %>-->
          <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add'.html_safe, new_project_test_plan_path, :class => "btn btn-info" %>
        </div>
      </div>
    </div>
</div>

<% if @test_plans.blank? %>

    <div role="alert" class="alert alert-warning">
      <span aria-hidden="true" class="glyphicon glyphicon-warning-sign"></span>
      No test plans added yet for this project.
    </div>

<% else %>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
              <tr>
                <th>JMX File Name</th>
                <th>Action</th>
              </tr>
          </thead>

          <tbody>
          <% @test_plans.each do |test_plan| %>
              <tr>
                <td><%= link_to test_plan.jmx_file_name, project_test_plan_path(test_plan.project_id, test_plan, format: :xml) %></td>
                <td><%= link_to 'Set Properties', params[:page].blank? ? edit_project_test_plan_path(test_plan.project_id, test_plan):edit_project_test_plan_path(test_plan.project_id, test_plan,:page=>params[:page]), class: "btn btn-warning" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="text-center">
          <%= will_paginate @test_plans, renderer: BootstrapPagination::Rails %>
        </div>
    </div>
<% end %>

<p><%= link_to "Back to project", project_path(@project) %></p>


