<%= content_for :project_header do %>
    <% unless @project.nil? %>
        <%= link_to @project.title, project_path(@project) %>
    <% end %>
<% end %>
<h2 class="page-header">
  <div class="row">
    <div class="col-md-6">Test Plans &amp; Data Files</div>
    <div class="col-md-6">
      <span class="pull-right"><%= link_to new_project_test_plan_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        <% end %></span>
    </div>
  </div>
</h2>

<% if not @test_plans.blank? %>
    <div class="row">
      <%- @test_plans.each do |test_plan| %>
          <div class="col-md-4">
            <div class="panel <%= test_plan.test_plan? ? 'panel-primary' : 'panel-default' %>">
              <div class="panel-body">
                <strong>File: </strong><%= link_to test_plan.jmx_file_name, project_test_plan_path(test_plan.project_id, test_plan, format: :xml) %><br/><br/>
                <%= form_for([@project, test_plan]) do |f| %>
                    <div class="form-group">
                      <input type="hidden" name="reupload" value="true" />
                      <%= f.file_field :jmx, onchange: 'this.form.submit();' %>
                      <span class="help-block">Modify uploaded file</span>
                    </div>
                <% end %>
                <br/>
                <%= link_to 'Set Properties', edit_project_test_plan_path(@project, test_plan), class: 'btn btn-warning btn-sm'.concat(test_plan.test_plan? ? '' : ' disabled') %>
                <%= link_to project_test_plan_path(@project, test_plan), method: :delete, class: "btn btn-danger btn-sm#{test_plan.can_delete? ? '' : ' disabled'}", data: {confirm: 'This file will be deleted from the application. If you do not have a local copy, please download the file before deleting. Continue to delete file?', confirm_title: 'Warning', confirm_context: 'warning'} do %>
                <span class="glyphicon glyphicon-trash"></span> Remove
                <% end %>
              </div>
            </div>
          </div>
      <%- end %>
    </div>

<% else %>

    <div role="alert" class="alert alert-warning">
      <span aria-hidden="true" class="glyphicon glyphicon-warning-sign"></span>
      No test plans added yet for this project, please add test plans and supporting data files. You can not start tests without this step.
    </div>
<% end %>

<p><%= link_to project_path(@project), class: 'btn btn-default' do %>
      Back to project
<% end %></p>
