
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h3>
          Add a test plan
        </h3>
      </div>
    </div>
  </div>




    <%= form_for @test_plan, :html => {:multipart => true}, url: {action: "create"} do |f| %>
        <p>
          <%= f.hidden_field :project_id,  :value => params['id']  %>
          <%= f.label :jmx, "Jmeter File" %>
          <%= f.file_field :jmx %>
        </p>

        <% if @test_plan.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <% @test_plan.errors.full_messages.each do |message| %>
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <%= message %>
              <% end %>
            </div>
        <% end %>

        <p>
          <%= f.submit "Save", :class => "btn btn-primary" %>
          <%= link_to "Cancel", { action: "index" }, :class => "btn btn-default" %>
        </p>
    <% end %>
