<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @test_plan.project_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test_plan.status %>
</p>

<p>
  <strong>Jmx:</strong>
  <%= @test_plan.jmx_file_name %>
</p>

<%= link_to 'Edit', edit_test_plan_path(@test_plan) %> |
<%= link_to 'Back', test_plans_path %>
