<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project) do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Examples: Acme portal priming, Midas Spike Tests' %>
          <%= errors_if_present @project, :title %>
        </div>
        <br/>
        <div class="row">
          <div class="col-xs-6">
            <%= f.submit 'Save', {class: 'btn btn-primary'} %>
          </div>
          <div class="col-xs-6">
            <%= link_to 'Cancel', projects_path, :class => 'btn btn-default pull-right' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
