<!DOCTYPE html>
<html>
<head>
  <title>HailstormWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Hailstorm Web", root_path, :class => "navbar-brand" %>
    </div>
    <div class="text-right">
      <% unless @project.blank? %>
          <h4><%= @project.title %></h4>
      <% end %>
    </div>
  </div>
</div>

<!-- Begin page content -->
<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div>


<div class="footer">
  <div class="panel-footer">
    <%= image_tag("3PG_LogoColorRGB.png", height: '40', alt:'3pillar Global') %>
    <strong>3Pillar Labs</strong>
  </div>
</div>

</body>
</html>
