<!DOCTYPE html>
<html>
<head>
  <title>Hailstorm Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag('3PG_LogoColorRGB.png', alt:'3Pillar Global', height: '30px') %> Hailstorm
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= yield :project_header %></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="container">
  <div id="flash_messages"><%= flash_messages %></div>
  <%= yield %>
</div>


<div class="footer">
  <div class="panel-footer text-center">
    Powered by 3Pillar Global
  </div>
</div>
<%= yield :modals %>
</body>
</html>
